.footer{
  background:linear-gradient(180deg,#ff4da6,#ff7ac3);
  color:white;
  border-radius:10px;
  padding:20px;
  font-size:14px;
  margin-top:40px;
}

.footer-container{
  max-width:900px;
  margin:auto;
  text-align:center;
}

.footer-container p{
  margin:6px 0;
}

.footer-copy{
  font-size:13px;
  opacity:0.8;
}


/* 📱 TABLET */
@media (max-width: 900px){

  .footer{
    padding:18px;
    font-size:15px;
  }

}


/* 📱 CELULAR */
@media (max-width: 600px){

  .footer{
    border-radius:0;
    padding:20px 10px;
    font-size:16px;
  }

  .footer-container{
    max-width:100%;
  }

  .footer-copy{
    font-size:12px;
  }

}